.root{
 flex: 1;
 display: flex;
 justify-content: flex-end;
}

.wrapper{
  width: 35px;
  background: var(--background_secondary);
  border-radius: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.content{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--background_main);
  font-size: 15px;
  text-align: center;
  transition: transform .1s linear;
  pointer-events: none;
}

.content.light {
  transform: translateX(16px);
}