.root {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.tgIcon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.contactsWrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text_secondary);
  max-width: 600px;
}

.footerLinkRoot {
  text-decoration: none;
  color: var(--text_secondary);
  display: flex;
  align-items: center;
}