.root {
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  border-top: 1px solid var(--border_color_main);
  padding: var(--layout-padding);
}

.tgIcon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.contactsWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--text_secondary);
  max-width: 600px;
}

.footerLinkRoot {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  
  background: var(--footer_link_color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin-right: 40px;
}
