.root {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.tgIcon {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.contactsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text_secondary);
}